---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    const tags: string[] = [];

    posts.forEach((post) => {
        post.data.tags.forEach((tag) => {
            if (!tags.includes(tag)) {
                tags.push(tag);
            }
        });
    });

    return tags.map((tag) => ({
        params: { tag },
    }));
}

const { tag } = Astro.params;

const posts = await getCollection("blog");
---

<Layout>
    <h1>Tag: <i>'{tag}'</i></h1>
    Every blog post I publish has three tags to categorize them. This list shows
    all blog posts that are tagged with <i>'{tag}'</i>.

    <ul class="mt-8">
        {
            posts
                .filter((post) => post.data.tags.includes(tag))
                .sort(
                    (a, b) =>
                        b.data.dateCreated.valueOf() -
                        a.data.dateCreated.valueOf()
                )
                .map((post) => (
                    <li>
                        <a href={`/blog/${post.id}/`}>
                            <h4 class="title">{post.data.title}</h4>
                        </a>
                        <span class="text-sm">
                            published{" "}
                            {dayjs(post.data.dateCreated).format(
                                "MMMM D, YYYY"
                            )}
                        </span>
                        <p class="indent-0">{post.data.description}</p>
                    </li>
                ))
        }
    </ul>
</Layout>
